@use "variables" as *;
@use "mixins" as *;

.header {
  background-color: $color-blue;
  padding: 22px 0;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 35px;
  }

  &__logo img {
    width: 119px;
    height: 35px;
  }

  &__nav {
    margin-right: 40px;
    @media (max-width: $desktop) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    &:last-child {
      margin-left: 62px;
    }

    &:nth-child(3) {
      margin-left: 50px;
    }

    &:nth-child(2) {
      margin-left: 49px;
    }
  }

  &__link {
    color: $color-cyan;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.17px;
    transition: all 0.3s ease-in;
    &:hover {
      color: $color-yellow;
    }
  }

  &__btn {
    @media (max-width: $desktop) {
      display: none;
    }
  }
}

.social {
  display: flex;
  flex-direction: row;
  gap: 10px;
  @media (max-width: $desktop) {
    display: none;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-white;
    @include wh(45px);
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: transparent;
    }
    &:hover > .social__icon {
      fill: $color-white;
    }
  }

  &__icon {
    fill: $color-black;
    max-width: 100%;
    max-height: 100%;
  }
}

.bucket {
  margin-right: 51px;
  &:hover > .bucket__icon {
    fill: $color-white;
  }
  &__icon {
    fill: $color-black;
    @include wh(17px);
    transition: all 0.3s ease-in-out;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  top: 0;
  right: -2000px;
  transition: right 0.2s;
  gap: 60px;
  width: 40vw;
  height: 100vh;
  background-color: $color-yellow;
  overflow-x: hidden;
  transition: all 0.5s;
  z-index: 3;

  &__link {
    color: $color-blue;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.17px;
    transition: all 0.3s ease-in;
  }

  &__btn {
    background-color: transparent;
    &--open {
      display: none;
    }

    &--close {
      display: none;
      position: absolute;
      right: 5%;
      z-index: 4;
    }

    @media (max-width: $desktop) {
      &--open {
        display: flex !important;
      }
    }
  }

  &__icon {
    &--close {
      fill: $color-blue;
    }
  }
}
