// Colors:
$color-blue: #1b3764;
$color-yellow: #ffca42;
$color-cyan: #b4c7e7;
$color-gray: #969aa0;
$color-white: #ffffff;
$color-black: #000000;
$color-background: #f5f8fc;
$color-tiffany: #f4f8ff;

// Sizes:
$phone: 480px;
$tablet: 768px;
$laptop: 1200px;
$desktop: 1300px;
